#sfcejrk868ucxua12tbnj5snymns81c4wc5 {
    position: absolute;
}

#FCS_ejrk868ucxua12tbnj5snymns81c4wc5_divFix {
    width: 300px !important;
}

#FCS_ejrk868ucxua12tbnj5snymns81c4wc5_divCou {
    background-color: #0a0a0a !important;
    
    box-shadow: none !important;
    padding: 2px 8px 2px !important;
}

#FCS_ejrk868ucxua12tbnj5snymns81c4wc5_divCou img {
    width: 10px !important;
}

#FCS_ejrk868ucxua12tbnj5snymns81c4wc5_btSee {
    display: none !important;
}