@media screen and (max-width: 1160px) {
  .nav__container,
  .hero__container,
  .hero__container-content {
    max-width: 980px;
  }

  .nav__menu ul li {
    margin-left: 25px;
  }

  .nav__menu ul li a {
    font-size: 14px;
  }

  .nav__logo a {
    font-size: 20px;
  }

  .icon__float-1 {
    right: 0;
  }

  .icon__float-2 {
    left: 0;
  }

  .microphone__icon {
    margin-left: 7%;
  }
  .hero__text {
    width: 450px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__description {
    font-size: 16px;
  }

  .hero__image {
    width: 310px;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .banner__bg-image-content,
  .legacy,
  .footer {
    max-width: 980px;
  }

  .biography__image-card-modal {
    width: 290px;
  }
}

@media screen and (max-width: 980px) {
  nav {
    position: fixed;
    z-index: 999;
  }
  .nav__menu ul,
  .nav__social ul {
    display: none;
  }

  .icon__float-1,
  .icon__float-2,
  .microphone__icon {
    display: none;
  }

  .hero__container {
    height: 100vh;
  }

  .hero__container-content {
    flex-direction: column-reverse;
  }

  .hero__image {
    width: 260px;
    padding-bottom: 30px;
  }

  .hero__text {
    align-items: center;
  }

  .hero__title {
    font-size: 40px;
    text-align: center;
  }

  .hero__description {
    text-align: center;
  }

  .biography__image {
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .banner__bg-image-content,
  .legacy,
  .footer {
    max-width: 768px;
  }

  .banner__bg-image-title {
    font-size: 35px;
  }

  .banner__bg-image-subtitle {
    font-size: 20px;
  }

  .biography__image {
    max-width: 70%;
  }

  .biography__container {
    max-width: 95%;
  }

  .cd__card-content {
    flex-direction: column;
    max-width: 55%;
  }

  .biography__image-card-modal {
    width: 500px;
  }

  .legacy__modal-1 {
    bottom: 1200px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1414px;
  }

  .legacy__modal-2 {
    bottom: 450px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 653px;
  }
}

@media screen and (max-width: 768px) {
  .biography,
  .life__container,
  .music,
  .biography__image,
  .legacy,
  .footer {
    max-width: 480px;
  }

  .banner__bg-image-content {
    max-width: 500px;
  }

  .cd__card-content {
    max-width: 80%;
  }

  .banner__bg-image-title {
    font-size: 30px;
  }

  .banner__bg-image-subtitle {
    font-size: 18px;
  }

  .biography__image-card-modal {
    width: 446px;
  }

  .legacy__modal-1 {
    bottom: 1100px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1285px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 601px;
  }
}

@media screen and (max-width: 480px) {
  .hero__text {
    width: 95%;
  }

  .hero__image {
    width: 235px;
  }

  .hero__title {
    font-size: 39px;
  }

  .hero__description {
    font-size: 14px;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .legacy,
  .footer {
    max-width: 360px;
  }

  .biography,
  .life,
  .music,
  .biography__image,
  .legacy,
  .footer {
    padding: 65px 0;
  }

  .biography__description {
    font-size: 16px;
    line-height: 30px;
  }

  .banner__bg-image-title {
    padding: 0 20px;
    font-size: 25px;
    line-height: 35px;
  }

  .biography__image-card-modal {
    width: 333px;
  }

  .legacy__modal-1 {
    bottom: 900px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1015px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 494px;
  }

  .legacy__modal-2 {
    bottom: 350px;
  }
}
