@media screen and (max-width: 1160px) {
  .nav__container,
  .hero__container,
  .hero__container-content {
    max-width: 980px;
  }

  .nav__menu ul li {
    margin-left: 25px;
  }

  .nav__menu ul li a {
    font-size: 14px;
  }

  .nav__logo a {
    font-size: 20px;
  }

  .icon__float-1 {
    right: 0;
  }

  .icon__float-2 {
    left: 0;
  }

  .microphone__icon {
    margin-left: 7%;
  }
  .hero__text {
    width: 450px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__description {
    font-size: 16px;
  }

  .hero__image {
    width: 310px;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .banner__bg-image-content,
  .legacy,
  .footer {
    max-width: 980px;
  }

  .biography__image-card-modal {
    width: 290px;
  }
}

@media screen and (max-width: 980px) {
  nav {
    position: fixed;
    z-index: 1;
  }

  .nav__social ul {
    display: none;
  }

  .nav__menu ul {
    display: flex;
    line-height: 60px;
    flex-direction: column;
  }

  .nav__menu ul li {
    border-bottom: 1px solid #0a0a0a;
    margin: 0;
  }

  .nav__menu ul li a:hover,
  .fab:hover {
    color: #e48e15;
  }

  .off__canvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    visibility: hidden;
    transition: 0.3s;
  }

  .off__canvas-overlay.active {
    visibility: visible;
  }

  .nav__menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: #f5f5f5;
    position: fixed;
    top: 0;
    left: -300px;
    z-index: 1;
    opacity: 0;
    overflow-y: auto;
    padding: 50px 30px 30px 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  .nav__menu.active {
    left: 0;
    opacity: 1;
    visibility: visible;
  }

  .nav__close {
    display: block;
    font-size: 22px;
    width: 30px;
    height: 30px;
    border: 2px solid #0a0a0a;
    border-radius: 2px;
    text-align: center;
    line-height: 27px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
  }

  .nav__close:hover {
    background-color: #e48e15;
  }

  .burguer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .burguer__social ul {
    flex-direction: row;
  }

  .burguer__social ul li {
    font-size: 20px;
    margin: 0 10px;
    border-bottom: none;
  }

  .nav__burguer {
    display: block;
    cursor: pointer;
  }

  .icon__float-1,
  .icon__float-2,
  .microphone__icon {
    display: none;
  }

  .hero__container {
    height: 100vh;
  }

  .hero__container-content {
    flex-direction: column-reverse;
  }

  .hero__image {
    width: 260px;
    padding-bottom: 30px;
  }

  .hero__text {
    align-items: center;
  }

  .hero__title {
    font-size: 40px;
    text-align: center;
  }

  .hero__description {
    text-align: center;
  }

  .biography__image {
    grid-template-columns: none;
    grid-template-rows: 1fr;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .banner__bg-image-content,
  .legacy,
  .footer {
    max-width: 768px;
  }

  .banner__bg-image-title {
    font-size: 35px;
  }

  .banner__bg-image-subtitle {
    font-size: 20px;
  }

  .biography__image {
    max-width: 70%;
  }

  .biography__container {
    max-width: 95%;
  }

  .cd__card-content {
    flex-direction: column;
    max-width: 55%;
  }

  .biography__image-card-modal {
    width: 500px;
  }

  .legacy__modal-1 {
    bottom: 1200px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1414px;
  }

  .legacy__modal-2 {
    bottom: 450px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 653px;
  }

  .top__button,
  .top {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .biography,
  .life__container,
  .music,
  .biography__image,
  .legacy,
  .footer {
    max-width: 480px;
  }

  .banner__bg-image-content {
    max-width: 500px;
  }

  .cd__card-content {
    max-width: 80%;
  }

  .banner__bg-image-title {
    font-size: 30px;
  }

  .banner__bg-image-subtitle {
    font-size: 18px;
  }

  .biography__image-card-modal {
    width: 446px;
  }

  .legacy__modal-1 {
    bottom: 1100px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1285px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 601px;
  }
}

@media screen and (max-width: 480px) {
  .hero__text {
    width: 95%;
  }

  .hero__image {
    width: 225px;
  }

  .hero__image img {
    border: 12px solid var(--secondary-black);
  }

  .hero__title {
    font-size: 39px;
  }

  .hero__description {
    font-size: 14px;
  }

  .vector__icons {
    margin-top: 20px;
  }

  .vector__icons ul li img {
    width: 28px;
  }

  .biography,
  .life__container,
  .music,
  .biography__image,
  .legacy,
  .footer {
    max-width: 360px;
  }

  .biography,
  .life,
  .music,
  .biography__image,
  .legacy {
    padding: 65px 0;
  }

  .biography__description {
    font-size: 16px;
    line-height: 30px;
  }

  .banner__bg-image-title {
    padding: 0 20px;
    font-size: 25px;
    line-height: 35px;
  }

  .biography__image-card-modal {
    width: 333px;
  }

  .legacy__modal-1 {
    bottom: 900px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 1015px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 494px;
  }

  .legacy__modal-2 {
    bottom: 350px;
  }
}

@media screen and (max-width: 360px) {
  .biography,
  .life__container,
  .music,
  .biography__image,
  .legacy,
  .footer {
    max-width: 270px;
  }

  .nav__close {
    right: 30px;
  }

  .hero__image {
    width: 180px;
  }

  .hero__image img {
    margin-top: 40px;
    border: 10px solid var(--secondary-black);
  }

  .hero__title {
    font-size: 35px;
  }

  .biography__image-card-modal {
    width: 246px;
    padding: 25px;
  }

  .legacy__modal-1 {
    bottom: 700px;
  }

  .legacy-image:hover .legacy__modal-1 {
    bottom: 814px;
  }

  .legacy__modal-2 {
    bottom: 300px;
  }

  .legacy-image:hover .legacy__modal-2 {
    bottom: 414px;
  }

  .footer {
    text-align: center;
    line-height: 20px;
  }
}
